*, ::before, ::after {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif; }

.navbar-transparent {
  overflow: hidden;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 2; }

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.header-full {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/book-cover.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.header-content {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%); }

.save-books-container {
  padding-top: 50px; }

.search-box {
  text-align: center; }

.book-card {
  perspective: 1500px;
  -moz-perspective: 1500px;
  position: relative;
  height: 300px;
  margin-top: 5px; }
  .book-card-side {
    height: 300px;
    margin-top: 5px;
    transition: all .9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .book-card-side-front {
      background: whitesmoke; }
    .book-card-side-back {
      transform: rotateY(180deg);
      overflow: scroll; }
  .book-card:hover .book-card-side-front {
    transform: rotateY(180deg); }
  .book-card:hover .book-card-side-back {
    transform: rotateY(0); }

.card-img {
  width: 100%;
  height: 300px; }
